name: CI

on:
  push:
    branches: [ main ]
    tags:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
          - os: macos-latest
          - os: windows-latest
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Zig
      uses: mlugg/setup-zig@v2
      with:
        version: master

    - name: Build
      run: zig build
      timeout-minutes: 5

    - name: Build tests
      run: zig build build-tests --release=safe
      timeout-minutes: 5

    - name: Build examples
      run: zig build examples
      timeout-minutes: 5

    - name: Build benchmarks
      run: zig build benchmarks
      timeout-minutes: 5

    - name: Run tests (native)
      run: ./zig-out/bin/test
      timeout-minutes: 5
