name: CI

on:
  push:
    branches: [ main ]
    tags:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Zig
      uses: mlugg/setup-zig@v2
      with:
        version: master

    - name: Build
      run: zig build
      timeout-minutes: 5

    - name: Build examples
      run: zig build examples
      timeout-minutes: 5

    - name: Build benchmarks
      run: zig build benchmarks
      timeout-minutes: 5

    - name: Run tests
      run: zig build test
      timeout-minutes: 5

    - name: Run xev tests
      run: cd vendor/libxev && zig build test
      timeout-minutes: 5
