name: CI

on:
  push:
    branches: [ main ]
    tags:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
          - os: macos-latest
          - os: windows-latest
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Zig
      uses: mlugg/setup-zig@v2
      with:
        version: 0.16.0-dev.2135+7c0b42ba0

    - name: Build tests
      run: zig build test --summary all
      timeout-minutes: 5
      env:
        TEST_VERBOSE: true

    - name: Build examples
      run: zig build examples
      timeout-minutes: 5

    - name: Build benchmarks
      run: zig build benchmarks
      timeout-minutes: 5
