name: CI

on:
  push:
    branches: [ main ]
    tags:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:

          - os: ubuntu-latest
            run: native
            target: x86_64-linux
            backend: epoll

          - os: ubuntu-latest
            run: native
            target: x86_64-linux
            backend: poll

          - os: ubuntu-latest
            target: aarch64-linux
            run: qemu
            qemu_binary: qemu-aarch64-static

          - os: ubuntu-latest
            target: riscv64-linux
            run: qemu
            qemu_binary: qemu-riscv64-static

          - os: ubuntu-latest
            target: x86_64-freebsd
            run: vm
            vm_type: freebsd

          - os: macos-latest
            target: native
            run: native

          - os: windows-latest
            target: native
            run: native

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Zig
      uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2

    - name: Build
      run: >
        zig build -Dinstall-tests
        ${{ matrix.backend && format('-Dbackend={0}', matrix.backend) || '' }}
        ${{ matrix.target != 'native' && format('-Dtarget={0}', matrix.target) || '' }}
      timeout-minutes: 5

    - name: Run tests (native)
      if: matrix.run == 'native'
      run: ./zig-out/bin/test
      timeout-minutes: 5

    - name: Install QEMU
      if: matrix.run == 'qemu'
      run: |
        sudo apt-get update -q -y
        sudo apt-get install -q -y qemu-user-static

    - name: Run tests (QEMU)
      if: matrix.run == 'qemu'
      run: ${{ matrix.qemu_binary }} ./zig-out/bin/test
      timeout-minutes: 10

    - name: Run tests (FreeBSD VM)
      if: matrix.run == 'vm' && matrix.vm_type == 'freebsd'
      uses: vmactions/freebsd-vm@v1
      with:
        run: ./zig-out/bin/test
